@using Core_MVC_General.EFContext

@model Staff

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Staffing Bang!</h1>
    <--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

<b>@Html.LabelFor(m => m.Name)</b>
@(Html.DisplayFor<Staff, string>(m => m.Name))



